NEXT_PUBLIC_SITE_URL=https://[DOMINIO-DA-INSERIRE]
NEXT_PUBLIC_CONTACT_EMAIL=
NEXT_PUBLIC_PHONE=
NEXT_PUBLIC_WHATSAPP=
NEXT_PUBLIC_STUDIO_ADDRESS=
NEXT_PUBLIC_ORDER_NUMBER=
NEXT_PUBLIC_VAT_NUMBER=
NEXT_PUBLIC_ONLINE_THERAPY=false
NEXT_PUBLIC_ENABLE_COOKIE_BANNER=false
